@{
    ViewBag.Title = "Etusivu";
}

<h1>
    Kvarttikatsaus sovellus
</h1>

<div id="content">
    Tämä on esimerkkisovellus, joka julkaistaan Azureen.<br />
    Esimerkkejä huomioon otettavia asioista kun halutaan julkaista sovelluksia automatisoidusti:<br />
    <ul>
        <li>Azure infran määrittely esim. Azure Resource Manager (ARM) mallien avulla (Infrastructure as Code)</li>
        <li>Infran kehittämisen pitää olla ketterää ja lokaali kehittäminen pitää olla helppoa</li>
        <li>Infran konfiguraation ylikirjoittamisen mahdollistaminen dynaamisesti julkaisussa</li>
        <li>Infran määrittely kulkee käsi kädessä sovelluskoodin kanssa</li>
        <li>Sovelluksen parametrien määrittäminen julkaisussa</li>
    </ul>
</div>

<div>
    Esimerkki konfiguraatioarvo tulee: <b>@ConfigurationManager.AppSettings["ExampleParameter"]</b>.
</div>

<div>
    <br />
    <hr />
</div>

<div>
    <table>
        <tr style='mso-yfti-irow:3;mso-yfti-lastrow:yes'>
            <td width=600 colspan=2 style='width:6.25in;padding:11.25pt 22.5pt 11.25pt 22.5pt'>
                <p style='line-height:13.5pt'>
                    <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;
  color:#222222'>
                        Tervetuloa kuulemaan uutisia Microsoft-ratkaisujen osalta.
                        Kvarttikatsaus valottaa, mitkä ovat tärkeimmät tulevat ratkaisut Microsoftin
                        tarjonnassa, ja mitkä ratkaisut ovat poistumassa Microsoftin tarjonnasta.
                        Katsauksessa käydään myös läpi lähiaikojen tärkeimmät Microsoft-aktiviteetit
                        sekä -kampanjat.<br>
                        <br>
                        Puhujina Microsoftin ratkaisuarkkitehdit.<br>
                        <br>
                        Kvarttikatsauksen tekninen taso on 200-300 ja kaikki puheenvuorot ovat <span class=GramE>suomenkielisiä.</span><o:p></o:p>
                    </span>
                </p>
                <p class=MsoNormal style='line-height:13.5pt'>
                    <b>
                        <span style='font-size:10.0pt;
  font-family:"Segoe UI",sans-serif;color:#222222'>Puheenvuorot:</span>
                    </b><span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;color:#222222'><o:p></o:p></span>
                </p>
                <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="100%"
                       style='width:100.0%;border-collapse:collapse;mso-yfti-tbllook:1184;
   mso-padding-alt:0in 0in 0in 0in'>
                    <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
                        <td width=130 style='width:97.5pt;padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    09:00
                                    - 09:30<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    Linux
                                    on Azure: Miksi ja miten Linux <span class=SpellE>Azuressa</span> – Toni <span class=SpellE>Wilberg</span><o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:1'>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    09:30
                                    - 10:00<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    Azure
                                    Networking: Azuren uudet verkkoratkaisut – Tomi Pietilä<o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:2'>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    10:00
                                    - 10:30<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    Azure
                                    DevOps: Azure sovellusten julkaisujen automatisointi – Janne Mattila<o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:3'>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    10:30
                                    - 11:00<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span lang=EN-US style='font-size:10.0pt;font-family:
    "Segoe UI",sans-serif;mso-ansi-language:EN-US'>
                                    Dynamics 365: Microsoft
                                    Power Platform end to end – Minna <span class=SpellE>Hooli</span><o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:4'>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    11:00
                                    - 11:30<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    Microsoft
                                    365: Microsoft 365 uudet toiminnallisuudet – Tony Lintunen<o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:5'>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    11:30
                                    - 12:00<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    Microsoft
                                    365 Security: <span class=SpellE>Ignite</span> julkistukset – Marko Lauren<o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr style='mso-yfti-irow:6;mso-yfti-lastrow:yes'>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    12:00
                                    - 12:05<o:p></o:p>
                                </span>
                            </p>
                        </td>
                        <td style='padding:3.0pt 3.0pt 3.0pt 3.0pt'>
                            <p class=MsoNormal>
                                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif'>
                                    Keskustelu
                                    ja tilaisuuden lopetus<o:p></o:p>
                                </span>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style='line-height:13.5pt'>
                    <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;
  color:#222222'>Tervetuloa mukaan</span><span style='font-size:10.0pt;
  font-family:"Segoe UI",sans-serif'>
                        12<span style='color:#222222'>.</span>12<span style='color:#222222'>.2018 klo 9-12!<o:p></o:p></span>
                    </span>
                </p>
            </td>
        </tr>
    </table>

</div>
